@using DemoApp.WebClient.Models

@page "/categories/edit/{Id:int}"
@inject IHttpClientFactory HttpFactory
@inject NavigationManager NavManager

<EditForm Model="@category" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Name:
        <InputText id="name" @bind-Value="category.Name" />
    </label>    

    <button type="submit">Submit</button>
</EditForm>


@code {

    [Parameter]
    public int Id { get; set; }

    private Category category = new();

    protected override async Task OnInitializedAsync()
    {
        var client = HttpFactory.CreateClient("backend-api");
        var tempCategory = await client.GetFromJsonAsync<Category>($"api/category/{Id}");

        if (tempCategory == null)
        {
            NavManager.NavigateTo("/categories");
            return;
        }

        category = tempCategory;
    }

    private async Task HandleValidSubmit()
    {
        var client = HttpFactory.CreateClient("backend-api");
        var response = await client.PutAsJsonAsync($"api/category/{Id}", category);

        if (response.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/categories");            
        }

        // Process the valid form
    }
}
