@using DemoApp.WebClient.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@inject IHttpClientFactory HttpFactory
@inject NavigationManager NavManager

<div class="grid" tabindex="-1">
    <QuickGrid ItemsProvider="@productProvider" Virtualize="true">
        <TemplateColumn>
            <div class="flex items-center">
                <img class="w-8 h-6 mr-4" src="icon-192.png" />
                <nobr>
                    <strong>@context.Name</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <PropertyColumn Property="@(c => c.Price)" />
        <TemplateColumn Title="Actions">
            <button @onclick="@(() => AddToCart(context))">Add to cart</button>
        </TemplateColumn>
    </QuickGrid>
</div>

@code {

    GridItemsProvider<Product>? productProvider;

    protected override Task OnInitializedAsync()
    {
        productProvider = async req =>
        {
            var client = HttpFactory.CreateClient("backend-api");
            var url = NavManager.GetUriWithQueryParameters("api/product", new Dictionary<string, object?> {
                { "skip", req.StartIndex },
                { "limit", req.Count },
                });

            var response = await client.GetFromJsonAsync<Product[]>(url, req.CancellationToken);

            return GridItemsProviderResult.From(
                items: response!,
                totalItemCount: response!.Length);

        };

        return Task.CompletedTask;
    }

    Task AddToCart(Product p)
    {
        return Task.CompletedTask;
    }
}
