<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="Net7P7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/7.0.100-preview.7.22370.3-shipping/nuget/v3/index.json" />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>
